<a href="https://colab.research.google.com/github/03dipak/INSAIDCapstone1/blob/master/data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install MySQL-python
!pip install mysql-connector-python
!pip install pymysql

In [0]:
import mysql.connector
import pandas as pd
import pymysql

In [18]:


print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f643d4060f0>

In [9]:
mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('events_data',)
('gender_age_train',)
('phone_brand_device_model',)

In [0]:
myTable = ['events_data','gender_age_train','phone_brand_device_model']
for x in mycursor:

In [26]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone1"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM events_data limit 20")
#mycursor.execute("DESC events_data")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 29182687948017175, datetime.datetime(2016, 5, 1, 0, 55, 25), 77.266052, 28.68161, 'Delhi', 'Delhi')
(7104, 29182687948017175, datetime.datetime(2016, 5, 2, 9, 37, 2), 77.266052, 28.68161, 'Delhi', 'Delhi')
(29661, 29182687948017175, datetime.datetime(2016, 5, 4, 0, 56, 4), 77.266052, 28.68161, 'Delhi', 'Delhi')
(33133, 29182687948017175, datetime.datetime(2016, 5, 6, 5, 1, 15), 77.266052, 28.68161, 'Delhi', 'Delhi')
(38980, 29182687948017175, datetime.datetime(2016, 5, 6, 9, 55, 4), 77.266052, 28.68161, 'Delhi', 'Delhi')
(66398, 29182687948017175, datetime.datetime(2016, 5, 1, 1, 56, 6), 77.266052, 28.68161, 'Delhi', 'Delhi')
(70894, 29182687948017175, datetime.datetime(2016, 5, 6, 1, 14, 46), 77.266052, 28.68161, 'Delhi', 'Delhi')
(87185, 29182687948017175, datetime.datetime(2016, 5, 1, 9, 20, 1), 77.266052, 28.68161, 'Delhi', 'Delhi')
(94644, 29182687948017175, datetime.datetime(2016, 5, 7, 7, 16, 35), 77.266052, 28.68161, 'Delhi', 'Delhi')
(110018, 29182687948017175, datetime.datetime(2016, 5, 6, 21, 0, 40), 77.266052, 28.68161, 'Delhi', 'Delhi')
(120190, 29182687948017175, datetime.datetime(2016, 5, 2, 0, 20, 38), 77.266052, 28.68161, 'Delhi', 'Delhi')
(120191, 29182687948017175, datetime.datetime(2016, 5, 2, 0, 21, 3), 77.266052, 28.68161, 'Delhi', 'Delhi')
(162735, 29182687948017175, datetime.datetime(2016, 5, 4, 2, 19, 36), 77.266052, 28.68161, 'Delhi', 'Delhi')
(184478, 29182687948017175, datetime.datetime(2016, 5, 5, 19, 14, 9), 77.266052, 28.68161, 'Delhi', 'Delhi')
(191673, 29182687948017175, datetime.datetime(2016, 5, 1, 5, 24, 36), 77.266052, 28.68161, 'Delhi', 'Delhi')
(217601, 29182687948017175, datetime.datetime(2016, 5, 3, 6, 55, 14), 77.266052, 28.68161, 'Delhi', 'Delhi')
(273512, 29182687948017175, datetime.datetime(2016, 5, 2, 9, 35, 49), 77.266052, 28.68161, 'Delhi', 'Delhi')
(273615, 29182687948017175, datetime.datetime(2016, 5, 2, 9, 31, 50), 77.266052, 28.68161, 'Delhi', 'Delhi')
(292765, 29182687948017175, datetime.datetime(2016, 5, 6, 0, 9, 45), 77.266052, 28.68161, 'Delhi', 'Delhi')
(293807, 29182687948017175, datetime.datetime(2016, 5, 1, 2, 53, 31), 77.266052, 28.68161, 'Delhi', 'Delhi')

In [27]:
mydb = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone1"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM phone_brand_device_model limit 20")
#mycursor.execute("DESC phone_brand_device_model")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1877775838486905855, 'vivo', 'Y13')
(-3766087376657242966, '小米', 'V183')
(-6238937574958215831, 'OPPO', 'R7s')
(8973197758510677470, '三星', 'A368t')
(-2015528097870762664, '小米', '红米Note2')
(-8896952452425303597, '小米', '红米Note3')
(-2634171391322875113, '小米', 'S5.1')
(-2526386806972133373, '三星', 'Galaxy Grand Prime')
(1427934937997164515, '小米', 'MI 2S')
(2866484947180243791, '三星', 'Galaxy Note 2')
(-1788272684905942357, 'OPPO', 'R1C')
(3888046152514759348, '酷派', '大神F1Plus')
(-8290049751573565686, '小米', 'note顶配版')
(7566850031220622843, '三星', 'Galaxy Mega 2')
(7702755134578190493, '联想 ', '星星1号')
(2210317512148990062, '三星', 'Galaxy S4')
(6413840150233100470, '小米', 'MI 3')
(-7157178797095341985, 'OPPO', 'Find 7')
(3773929364530635568, '三星', 'Galaxy S4')
(-221375520372280325, '华为', 'C8816')

In [32]:
conn = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone1"
)
query = "SELECT * FROM gender_age_train limit 20"
results = pandas.read_sql_query(query, conn)
results.to_csv("gender_age_train.csv", index=False)


'''
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM gender_age_train limit 20")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
'''

'\nmycursor = mydb.cursor()\nmycursor.execute("SELECT * FROM gender_age_train limit 20")\n\nmyresult = mycursor.fetchall()\n\nfor x in myresult:\n  print(x)\n'

In [0]:
conn = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone1"
)

queryGenderAgeTrain = "SELECT * FROM gender_age_train limit 20"
results = pandas.read_sql_query(queryGenderAgeTrain, conn)
results.to_csv("gender_age_train.csv", index=False)

queryPhoneBrand = "SELECT * FROM phone_brand_device_model limit 20" 
results = pandas.read_sql_query(queryPhoneBrand, conn)
results.to_csv("gender_age_phone_brand_device_model.csv", index=False)

queryEventData = "SELECT * FROM events_data limit 20"
results = pandas.read_sql_query(queryEventData, conn)
results.to_csv("events_data.csv", index=False)

In [0]:
conn = mysql.connector.connect(
  host="cpanel.insaid.co",
  user="student",
  passwd="student",
  database="Capstone1"
)
'''
CityStatequery = 'SELECT DISTINCT city FROM events_data'

results = pandas.read_sql_query(CityStatequery, conn)
results.to_csv("DISTINCT_city_state_events_data.csv", index=False)
'''
table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)
queryEventData = "SELECT * FROM events_data"
results = pandas.read_sql_query(queryEventData, conn)
results.to_csv("events_data_full.csv", index=False)